<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/competences/competences.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="section_graph">
      <h2>COMPETENCES</h2>
      <div class="nom_competence">
        HTML
        <div class="barre_vide">
          <div id="barre_html">70%</div>
        </div>
      </div>
      <div class="nom_competence">
        CSS
        <div class="barre_vide">
          <div id="barre_css">60%</div>
        </div>
      </div>
      <div class="nom_competence">
        PHP
        <div class="barre_vide">
          <div id="barre_php">60%</div>
        </div>
      </div>
      <div class="nom_competence">
        Javascript
        <div class="barre_vide">
          <div id="barre_js">50%</div>
        </div>
      </div>
      <div class="nom_competence">
        SQL
        <div class="barre_vide">
          <div id="barre_SQL">30%</div>
        </div>
      </div>
    </div>
    <script src="../assets/js/competences.js"></script>
  </body>
</html>
