<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/liens.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="div_liens"></div>
    <div id="div_github">
      <span class="span_liens" id="github"></span>
    </div>
    <div id="div_linkedin">
      <span class="span_liens" id="linkedin"></span>
    </div>
    <script src="/assets/js/liens.js"></script>
  </body>
</html>
