#div_liens {
  position: absolute;
  display: flex;
  justify-content: center;
  background-size: 100%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  top: 50rem;
  align-items: center;
  justify-content: space-around;
}
#section_Liens{
  display: flex;
  justify-content: center;
  

}
#div_github,
#div_linkedin {
  display: flex;
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  top: 100%;
  align-items: center;
  justify-content: space-around;
  transform: translate(0%, -100%);
}
#bouton {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-image: url("/images/share.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 2;
}
#div_github {
  background-image: url("/images/github-logo.png");
  z-index: 1;
}
#div_linkedin {
  background-image: url("/images/logo_linkedin.webp");
  z-index: 0;
}
.liens {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#div_liens.click {
  background-image: url("/images/cancel_5392784.png");
}
#div_liens.click #div_github {
  translate: 5rem 4rem;
  transition: 1s;
}
#div_liens.click #div_linkedin {
  translate: -5rem 4rem;
  transition: 1s;
}
#div_liens.click #bouton {
  background-image: url("/images/cancel_5392784.png");
}
@media screen and (max-width: 768px){
  #div_liens, #div_github, #div_linkedin{
    width: 4rem;
  height: 4rem;
}
#div_liens{

  top:52rem;
}
#div_liens.click #div_github {
  translate: 5rem;
  transition: 1s;
}
#div_liens.click #div_linkedin {
  translate: -5rem;
  transition: 1s;
}
}
  