#div_liens {
  position: absolute;
  display: flex;
  border-radius: 20px;
  width: 3rem;
  height: 8rem;
  top: 20%;
  background-color: white;
  left: -2rem;
  transition: 1s;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.span_liens {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#github {
  background-image: url("/images/github-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#linkedin {
  background-image: url("/images/logo_linkedin.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#div_liens:hover {
  display: flex;
  left: 2px;
  transition: 1s;
}
