#titre_projet{
  margin-top: 30px;
    text-align: center;
    text-decoration: underline 5px ;
    text-underline-position:  left;
    font-family: 'Tektur',cursive;
}
#slider {
  position: relative;
  top: 25vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 2s;
}
#precedent,
#suivant {
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
  font-size: 100px;
  margin: auto;
  padding: 10px;
}
#suivant {
  right: 20rem;
}
#precedent {
  left: 20rem;
}
#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
#div_projet p {
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
  transition: 1s;
}
#slide {
  display: flex;
  width: 370px;
  height: 370px;
}
#nom_projet {
  font-size: 24px;
  font-family: 'Tektur', cursive;
}
