#titre_projet {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  text-decoration: underline 5px;
  text-underline-position: left;
  font-family: 'Tektur', cursive;
}
#slider {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#precedent,
#suivant {
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
  font-size: 100px;
  margin: auto;
  text-decoration: none;
  padding: 10px;
}
#suivant {
  right: 20rem;
}
#precedent {
  left: 20rem;
}
#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
#div_projet p {
  text-align: center;
  font-size: 26px;
  color: #fff;
  margin-top: 2rem;
}
#slide {
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  /* width: 533px; */
  height: 450px;
}
#nom_projet {
  font-size: 24px;
  font-family: 'Tektur', cursive;
}
@media screen and (max-width: 768px) {
  #slide {
    height: 350px;
    transition: 1s;
  }
  #precedent,
  #suivant {
    font-size: 70px;
    transition: 1s;
  }
}
